body {
  background-image: linear-gradient(to bottom, white 0%, #43435e 100%), url("images/pages/bgSwirly.jpg");
  background-image: -moz-linear-gradient(top, white, #43435e);
  background-blend-mode: multiply;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  /*  #ktbyte{
    		text-align:right;
    		margin-right:5px;
    		color: $gray;
    		a{
    			text-decoration:none;
    		}
    	}*/ }
  body #contact_links, body #contact_links_right {
    position: absolute;
    margin-left: 5px;
    color: gray; }
    body #contact_links a, body #contact_links_right a {
      display: inline-block;
      background: url(images/pages/fbButton.png) no-repeat;
      cursor: pointer;
      background-size: 100%;
      width: 20px;
      height: 20px;
      margin-top: 5px; }
  body #contact_links_right {
    right: 2%;
    text-align: right; }
    body #contact_links_right .ktbyte {
      text-decoration: none;
      background: gray;
      width: auto;
      padding: 3px;
      border-radius: 5px; }
  body #banner {
    padding-top: 2%;
    font-family: "cac_champagneregular";
    color: #51428f;
    font-size: 75px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1%; }
    body #banner #subtext {
      font-size: 30px; }
  body #navbar {
    font-size: 23px;
    font-family: 'sans-serif';
    text-align: center;
    margin-bottom: 1%; }
    body #navbar a {
      color: gray;
      text-decoration: none;
      height: 3.2em;
      vertical-align: center;
      margin-left: 4%; }
  body #content, body #page_content {
    font-size: 20px;
    color: #FFF;
    margin-top: 2%;
    margin-bottom: 3%;
    line-height: 200%; }
    body #content #title, body #page_content #title {
      font-size: 30px;
      padding-bottom: 2%;
      margin-bottom: 1%;
      border-bottom: 1px solid #FFF; }
  body #page_content {
    padding: 2%;
    color: #FFF;
    font-size: 18px;
    background-color: #43435e; }
    body #page_content #title {
      border-bottom: 1px solid gray; }
    body #page_content .program_type {
      border-bottom: 1px solid gray; }
    body #page_content #program_buttons a {
      width: 30%;
      height: 0;
      padding-bottom: 16.5%;
      cursor: pointer;
      background-size: 100%;
      text-align: center;
      font-size: 30px;
      color: #FFF;
      margin-top: 1em;
      margin-left: 2%;
      padding-top: 10px;
      font-family: 'cac_champagneregular';
      display: inline-block;
      vertical-align: top;
      text-decoration: none; }
    body #page_content .member {
      padding-top: 10px;
      padding-bottom: 10px; }
      body #page_content .member br {
        line-height: 250%; }
      body #page_content .member .name {
        overflow: hidden;
        border: 1px solid #bbb4e0;
        padding-top: 10px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 20px;
        line-height: 150%;
        color: #bbb4e0; }
        body #page_content .member .name .sub {
          font-size: 18px;
          font-style: italic;
          margin-bottom: 10px; }
      body #page_content .member .img_left img {
        float: left;
        margin-right: 15px; }
      body #page_content .member .img_right img {
        float: right;
        margin-left: 15px; }
    body #page_content .classes_member {
      padding-top: 10px;
      padding-bottom: 10px;
      overflow: hidden; }
      body #page_content .classes_member br {
        line-height: 250%; }
      body #page_content .classes_member .name {
        overflow: hidden;
        border-bottom: 1px solid #bbb4e0;
        padding-top: 10px;
        padding-left: 5px;
        margin-bottom: 5px;
        font-size: 25px;
        line-height: 150%;
        color: #bbb4e0; }
        body #page_content .classes_member .name .sub {
          font-size: 18px;
          font-style: italic;
          margin-bottom: 10px; }
    body #page_content #photo_gallery {
      			/*.crop{
      				display: block;
      				width: 100%;
      				position: relative;
      				height: 0;
      				padding: 56.25% 0 0 0;
      				overflow: hidden;
      
      			  	img{
      				  position: absolute;
      				  display: block;
      				  max-width: 100%;
      				  max-height: 100%;
      				  left: 0;
      				  right: 0;
      				  top: 0;
      				  bottom: 0;
      				  margin: auto;
      				}
      			}*/ }
      body #page_content #photo_gallery .crop {
        position: relative;
        margin: .5em 10px .5em 0;
        overflow: hidden;
        display: inline-block;
        width: 28%;
        height: 6.2em;
        background: black; }
      body #page_content #photo_gallery .crop img {
        height: 120%;
        display: block;
        margin: -4% auto; }
    body #page_content #photo_gallery2 a {
      border: 3px solid #FFF;
      width: 30%;
      height: 5em;
      cursor: pointer;
      background-size: 100%;
      text-align: center;
      font-size: 30px;
      margin-top: 1em;
      margin-left: 2%;
      padding-top: 10px;
      font-family: 'cac_champagneregular';
      display: inline-block;
      vertical-align: top;
      text-decoration: none; }
    body #page_content #photo_gallery2 .black_overlay {
      display: none;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 1001;
      -moz-opacity: 0.8;
      opacity: .80;
      filter: alpha(opacity=80); }
    body #page_content #photo_gallery2 .white_content {
      display: none;
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      padding: 16px;
      border: 16px solid orange;
      background-color: white;
      z-index: 1002;
      overflow: auto; }
    body #page_content .google_map {
      width: 40%;
      height: 200px;
      float: right;
      margin-top: 2%; }
  body .stretchy-wrapper {
    position: relative;
    height: 0;
    padding: 50% 0 0 0;
    overflow: hidden; }
  body .diy-slideshow {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
    body .diy-slideshow .crop {
      overflow: hidden;
      display: inline-block;
      width: 100%;
      height: 100%;
      background: #43435e; }
      body .diy-slideshow .crop img {
        height: 100%;
        width: auto;
        display: block;
        /*margin:-4% auto;*/
        margin: auto; }
  body figure {
    height: 100%;
    position: absolute;
    opacity: 0;
    /* transition: 1s opacity;*/ }
  body figcaption {
    position: absolute;
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 2px; }
  body figcaption a {
    color: #fff; }
  body figure.show {
    opacity: 1;
    position: static;
    transition: 1s opacity; }
  body .next, body .prev {
    color: #fff;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 50%;
    z-index: 1;
    font-size: 2em;
    margin-top: -.75em;
    opacity: .3;
    user-select: none; }
  body .next:hover, body .prev:hover {
    cursor: pointer;
    opacity: 1; }
  body .next {
    right: 0;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  body .prev {
    left: 0;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  body p {
    margin: 10px 20px;
    color: #fff; }
  body a {
    color: #fff; }
  body .button a {
    background-color: #705CC2;
    margin: auto;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    display: block;
    color: #FFF;
    text-decoration: none; }

.vertically_centered {
  display: inline-block;
  vertical-align: middle; }

.centered {
  display: block;
  margin: auto;
  width: 60%; }

@font-face {
  font-family: 'cac_champagneregular';
  src: url("cac_font/cac_champagne-webfont.eot");
  src: url("cac_font/cac_champagne-webfont.eot?#iefix") format("embedded-opentype"), url("cac_font/cac_champagne-webfont.woff") format("woff"), url("cac_font/cac_champagne-webfont.ttf") format("truetype"), url("cac_font/ac_champagne-webfont.svg#cac_champagneregular") format("svg");
  font-weight: normal;
  font-style: normal; }
